body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.subtitulo{
    text-align: center;
    font-size: larger;
    color: white;
}
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

#menu, #menu  ul {
    list-style:none;
    margin: 0;
    padding: 0;
    background-color: #f08429; 
}
#menu{
    width: 90%;
    margin: 60px auto;
    border: 1px solido #107677;
    background: #111;
    background: linear-gradient(#2a4885, #577cc9);
    border-radius: 6px;
    box-shadow: 0 2px 2px #ccc;

}
#menu:before,
#menu:after{
    content: "";
    display: both;
}
#menu:after{
    clear: both;
}
#menu  #item{
    float: left;

}
#menu li{
    float: left;
    border-right: 4px solid gray;
    position: relative;
}
#menu  #item a{
    float: left;
    background-color: #f08429;
    color: #fff;
    padding: 12px   30px;
    display: block;
    font: bold 12px Arial, Helvetica;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;

}
#menu ul{
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background: linear-gradient(#2a4885, #577cc9);
    box-shadow: 0 -1px 0 rbga(255, 255, 255, 0, 3);
    border-radius: all 0.2s ease-in-out;
}
#menu li:hover  > ul{
    opacity: 1;
    visibility: visible;
    margin: 0;
}
#menu ul ul{
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
#menu ul a{
    padding: 10px;
    width: 150px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
#menu ul a:hover{
    background: linear-gradient(#2a4885, #920cc9);

}
#menu ul li:first-child > a:after{
    content: "";
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #1ebdbe;
} 
#menu ul ul li:first-child > a:after{
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid #577cc9;
    border-bottom: 6px solid transparent;
} 
    


#menu  #desple{
    display: none;
    position: absolute;
    min-width: 20px;
}
#menu  #item a:hover{
    background: rgb(92, 98, 104);
    color:rgba(011)
}

#menu  #id:hover #desple{
    display: block;
}
        


.tabla {
    width: 100%;
    margin: 0;
}